# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.exe

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local data
.env
.env.*
*.log
config/logs/
config/.ffmpeg/

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
